<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<h3>Approved BlogPost</h3>
<div class="row">
<div class="panel panel-default">
<div class="panel-heading">
<b>BlogTitle:</b>{{blogPost.blogTitle}}<br>
<b>Created By:</b>{{blogPost.postedBy.username}}<br>
<b>Created on:</b>{{blogPost.postedOn|date:'medium'}}
</div>
<div class="panel-body">
{{blogPost.blogContent}}
</div>
</div>
</div>
<b>Likes</b>{{blogPost.likes}}
<div ng-show="liked">
<span class="glyphicon glyphicon-thumbs-up" style="color:blue" ng-click="updateLikes()"></span>
</div>
<div ng-show="!liked">
<span class="glyphicon glyphicon-thumbs-up" style="color:black" ng-click="updateLikes()"></span>
</div>
<div>
<div class="form-group">
  <label for="comment">Comment:</label>
  <textarea   id="comment" ng-model="commentText" rows="1" cols="30"></textarea>
</div>
<div class="form-group"> 
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-success" value="Post Comment" ng-click="addComment()">Submit</button>
    </div>
  </div>
</div>
<div>
<b><a href="" ng-click="showComments()">{{blogPost.blogComments.length}} comment</a></b>
<ul ng-show="showComment" style="list-style:none">
<li ng-repeat="comment in blogPost.blogComments">
{{comment.commentText}}<br>
<strong>Commented By</strong>{{comment.commentedBy.username}}<br>
<strong>Commented On</strong>{{comment.commentedOn|date:'medium'}}
</li>
</ul>
</div>
</body>
</html>